.container{
	display: flex;
	justify-content: space-between;
}

.container-players {
	display: flex;
    flex-direction: column;
    align-items: center
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #89FADF;
}
.position{
	font: bold;
}
.team{
	font-weight: bold;

}
.btn {
  border: none;
  background-color: inherit;
  display: inline-block;
  
}
.btn:hover {
  background-color: #ffebe6; 
  color: blue;
  font-weight: bold;
}